<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Browser" value="Chrome" />
		<add key="URL" value="https://demoqa.com/automation-practice-form" />
		<add key="PageLoadTimeout" value="20" />
		<add key="ElementLoadTimeout" value="20" />
		<add key="UserName" value="bond007"/>
	</appSettings>
</configuration>